In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# create path
path = '/Users/samarjitgehdu/Documents/Python/Instacart Basket Analysis'

In [5]:
path

'/Users/samarjitgehdu/Documents/Python/Instacart Basket Analysis'

In [13]:
# Importing Dataframes
df_ords = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'), index_col = 0)
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'))

In [14]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [15]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [21]:
# Verifying the size before merge
df_ords.shape

(3421083, 6)

In [23]:
# Verifying the size before merge
df_ords_prior.shape

(32434489, 4)

In [25]:
# Merging Dataframe
df_merged = df_ords.merge(df_ords_prior, on = ['order_id'], how = 'inner', indicator = True)

In [27]:
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [29]:
# Value counts on merged column
df_merged['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [31]:
# Exporting Dataframe as pkl file
df_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))